# quartify metadata header snippet
# To use: type 'header' and press Tab in an R script
snippet header
	# Title : ${1:My Title}
	#
	# Author : ${2:Your Name}
	#
	# Date : ${3:`r Sys.Date()`}
	#
	# Description : ${4:Description of your script}
	#
